.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    box-shadow: 0 0 10px silver;
    margin-top: 30px;
}

.footer h2{
    color: black;
}
.footer.p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.icons i{
    color: salmon;
    font-size: 20px;
    /* background-color: salmon; */
}