.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 50px;
    width: 95%;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.dis{
    box-shadow: 0 0 20px silver;
text-align: center;
color: navy;
font-size: 20px;
font-weight: 600;
padding: 20px;
}
.dis:hover{
       transition: 1.5s;
    transform: scale(1.1);
    box-shadow: 0 0 20px #077a65;
}

.cbtn{
    background-color: #00CCB3;
    color: black;
    padding: 8px 18px;
    border-radius: 20px;
    border: 1px solid #00CCB3;
}
.cbtn:hover{
    transition: 1.5s;
    transform: scale(1.1);
    box-shadow: 0 0 15px #077a65;
}